/*sessao de divs*/

#header {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin: 0.5%;
    padding: 55px;
    background-image: url(/my-web-repo/mainProject/imagens/inside-club.jpg);
    height: 500px;
    width: 1230px;
    background-color: black;
}

#fundadores {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin: 0.5%;
    padding: 55px;
    background-image: url(/mainProject/imagens/inside-club.jpg);
    height: 500px;
    width: 1230px;
}

#filosofia {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin: 0.5%;
    padding: 55px;
    background-image: url(/mainProject/imagens/inside-club.jpg);
    height: 500px;
    width: 1230px;
}

#footer {
    text-align:end;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 50px;
    margin: 5px;
    font-size: small;
}
/*editcoes avulsas*/

h2{
    text-align: center;
    font-stretch: wider;
    text-decoration: underline;
}

p {
    text-align: center;
}

text {
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mensao {
    font-style: italic;
    font-weight: bold;
}

a:hover {
    color: blanchedalmond;
}

hr {
    color: blueviolet;
}