/*sessao de divs*/

#cabecalho {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    margin: 0.5%;
    padding: 55px;
    height: 50px;
    background-color: black;
    text-align: center;
    border-style: double;
    border-color: gray;
    border-width: 5px;
}

.content {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    margin: 0.5%;
    padding: 55px;
}

.container {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    margin: 0.5%;
    padding: 55px;
}

#sessao3 {
    padding: 10px;
}

#sessao1 {
    padding: 10px;
}

#menu {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    margin: 0.5%;
    padding: 0.5%;
}
/*editcoes avulsas*/

h2{
    text-align: center;
    font-stretch: wider;
    text-decoration: underline;
}

p {
    text-align: center;
}

text {
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#mensao {
    font-style: italic;
    font-weight: bold;
}

a:hover {
    color: blanchedalmond;
}

a {
    color: gray;
}

hr {
    color: blueviolet;
}